<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luke.mybatisplus.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.luke.mybatisplus.entity.Account">
            <id property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
            <result property="createAccountId" column="create_account_id" jdbcType="BIGINT"/>
            <result property="modifiedAccountId" column="modified_account_id" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        account_id,role_id,username,
        password,salt,real_name,
        sex,email,create_time,
        modified_time,create_account_id,modified_account_id,
        deleted
    </sql>
    <!--分页查询账号信息-->
    <select id="selectAccountList" resultType="com.luke.mybatisplus.entity.Account">
        select a.*,r.role_name
            from account a inner join role r
            on a.role_id=r.role_id
            ${ew.customSqlSegment}
    </select>
    <select id="selectAccountById" resultType="com.luke.mybatisplus.entity.Account">
        select a.*,r.role_name
            from account a inner join role r
            on a.role_id=r.role_id
            where a.account_id = #{id}
    </select>
</mapper>
