<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luke.mybatisplus.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.luke.mybatisplus.entity.Resource">
            <id property="resourceId" column="resource_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="resourceName" column="resource_name" jdbcType="VARCHAR"/>
            <result property="resourceType" column="resource_type" jdbcType="TINYINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        resource_id,parent_id,resource_name,
        resource_type,url,code,
        sort
    </sql>
    <select id="selectResource" resultType="com.luke.mybatisplus.vo.ResourceVo">
        select re.resource_id,re.resource_name,re.url
        from resource re inner join role_resource rr
        on re.resource_id=rr.resource_id
        ${ew.customSqlSegment}
    </select>
    <select id="selectResourceByRoleId" resultType="com.luke.mybatisplus.vo.TreeVo">
        select re.resource_id id,
               re.resource_name title,
               if(rr.resource_id is null,false,true) checked
        from resource re left join role_resource rr
        on re.resource_id=rr.resource_id and rr.role_id=#{roleId}
        ${ew.customSqlSegment}
    </select>
</mapper>
